doctype html
html
  head
    title Seni Seviyorum
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          h1 Seni Seviyom <3
          h3 #{date}
      block content